// brand colors
$scp-b-blue: #1d90fb;
$scp-b-purple: #8b6bfd;
$scp-orange: #ff702a;
$scp-red: #fa655e;

// grayscale
$scp-white: #fff;
$scp-gray: #f8f8f8;
$scp-gray-darker: #232426;

// generic
$scp-purple-darker: #20243d;
$scp-purple: #592673;
$scp-purple-light: #7c73c2;
$scp-cyan: #3ce0ec;
$scp-yellow: #fccb7c;
$scp-block: 0 1px 1px rgba(0, 0, 0, .1);

// status
$scp-primary: #4582ec;
$scp-success: #02b875;
$scp-info: #17a2b8;
$scp-warning: #f0ad4e;
$scp-danger: #d9534f;

// helpers

.rounded {
  border-radius: 1rem;
}
