// sidebar menu

.sidebar-menu {
  background-color: $scp-gray-darker;
  display: block;
  transition: all .5s;
  width: 0;

  nav {
    height: 0;
    opacity: .2;
    transition: all 1.5s;
  }

  &.open {
    display: flex;
    flex: 1;

    nav {
      opacity: 1;
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    margin-bottom: 1rem;
    padding: .5rem 1.5rem;
  }

  a {
    color: $scp-white;
  }
}

// logo
.scp-branding {
  font-size: $fs-md;
  font-weight: $fw-bold;
}

// logo background
.scp-logo-bg {
  background-color: $scp-white;
}

// logo container
.scp-logo-container {
  margin: 0 auto;
  padding: 1rem;
  width: 30%;
}

// header menu
.header-menu {
  background-color: $scp-white;
  display: block;
  position: fixed;
  width: 100%;

  ul {
    margin: 0 0 0 auto;
    width: 20%;
  }

  li {
    display: inline-block;
    padding: 1rem;
  }

  a {
    color: $scp-gray-darker;
    font-weight: $fw-bold;
  }
}

// hamburguer button
.scp-hamburguer-btn {
  cursor: pointer;
  display: inline-block;
  margin: 30px 0 0 30px;
  position: fixed;

  span {
    background: $scp-gray-darker;
    display: block;
    height: 2px;
    margin-bottom: 10px;
    position: relative;
    width: 35px;
  }
}

.scp-install-status + div {
  background: $scp-white;
}
