@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// ff font-family
$ff-regular: 'Open Sans', 'Helvetica Neue', 'Roboto', sans-serif;


// fs font-size
$fs-xs: 1rem;
$fs-sm: 1.33rem;
$fs-md: 1.5rem;
$fs-bg: 1.75rem;
$fs-lg: 2rem;
$fs-xlg: 2.5rem;


// fw font-weight 
// fallback default medium
$fw-light: 400;
$fw-bold: 700;
$fw-xbold: 800;
