.scp-page {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  a {
    display: block;
    margin: 1rem auto;
    max-width: 150px;
    text-align: center;
  }

  p {
    margin: 2rem 0;
    text-align: center;
  }

  h1,
  p {
    color: $scp-gray-darker;
    text-align: center;
  }
}

.scp-logo-index-container {
  margin: 0 auto;
  width: 30%;
  @include breakpoint(lg) {
    width: 7%;
  }
}

