.scp-wizard {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vh;
  transition: all 1s;

  > div,
  aside {
    min-height: 70%;
    padding: 1.5rem;
  }
  @include breakpoint(md) {
    flex-direction: row;
    margin: 5% auto 0;
    max-width: 70%;
  }
  @include breakpoint(lg) {
    max-width: 50%;
  }
}

.scp-install-status {
  background-color: $scp-gray-darker;
  flex: 1;

  ul {
    padding-left: 5px;
  }

  li {
    margin-bottom: 1rem;
  }

  h2,
  ul {
    color: $scp-white;
  }
}

.scp-install-step {
  background-color: $scp-white;
  flex: 2;
}
