// box status mixin
@mixin alert($bg) {
  background: $bg;
  border: solid 1px $bg;

  &:hover {
    background: darken($bg, 8%);
    transition: all .3s ease-in-out;
  }

  &:active {
    background: darken($bg, 25%);
  }
}

.alert {
  border-radius: .5rem;
  color: $scp-white;
  padding: 2rem;
  text-decoration: none;

  li {
    list-style-type: disc;
  }
}

// box status
.alert-default {
  @include alert($scp-gray);
}

.alert-success {
  @include alert($scp-success);
}

.alert-info {
  @include alert($scp-primary);
}

.alert-warning {
  @include alert($scp-warning);
}

.alert-danger {
  @include alert($scp-danger);
}

.alert-wider {
  width: 100%;
}

// text status
.status {
  font-weight: $fw-bold;
  margin: 0 .62rem;
  transition: all ease-in-out 1s;

  &.info {
    color: $scp-b-blue;
  }

  &.warning {
    color: $scp-warning;
  }

  &.danger {
    color: $scp-danger;
  }

  &.success {
    color: $scp-success;
  }
}
