*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: $scp-gray;
  font-family: $ff-regular;
}

a {
  color: $scp-b-blue;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

label {
  display: block;
  font-weight: $fw-bold;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.scp-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.scp-content {
  flex: 4;
  // transform: translate3d(0,0,0);
}

.scp-page-content {
  background-color: $scp-white;
  margin: 3rem 1rem;
  padding: 1rem;
}

.block {
  border-radius: 5px;
  box-shadow: $scp-block;
  overflow: hidden;
}
