$width-xsmall: 400px;
$width-small: 480px;
$width-medium: 640px;
$width-large: 768px;
$width-xlarge: 1024px;
$width-xxlarge: 1280px;
$width-xxxlarge: 1600px;

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == xxl {
    @media (min-width: 1600px) {
      @content;
    }
  }
}
