@mixin button-bg($bg) {
  background: $bg;
  border: solid 1px $bg;

  &:hover {
    background: darken($bg, 10%);
    transition: all .5s ease;
  }

  &:active {
    background: darken($bg, 10%);
  }
}

@mixin button-borer-only($color) {
  background-color: $scp-white;
  border: solid 1px $color;
  color: $color;
  transition: all .3s ease;

  &:hover {
    background-color: $color;
    color: $scp-white;
  }
}

// colors
.btn {
  border-radius: 20px;
  color: $scp-white;
  cursor: pointer;
  margin: .5rem;
  outline: none;
  padding: .5rem 1.3rem;
  text-decoration: none;
}

// status buttons
.btn-default {
  @include button-bg($scp-gray);
}

.btn-success {
  @include button-bg($scp-success);
}

.btn-info {
  @include button-bg($scp-primary);
}

.btn-warning {
  @include button-bg($scp-warning);
}

.btn-danger {
  @include button-bg($scp-danger);
}

.btn-wider {
  width: 100%;
}

// brand buttons

.btn-scp-blue {
  @include button-bg($scp-b-blue);
}

.btn-scp-purple {
  @include button-bg($scp-b-purple);
}

.btn-scp-orange {
  @include button-bg($scp-orange);
}

.btn-scp-red {
  @include button-bg($scp-red);
}

//  buttons border only
.btn-border-only-info {
  @include button-borer-only($scp-b-blue);
}

.btn-border-only-warning {
  @include button-borer-only($scp-warning);
}

.btn-border-only-danger {
  @include button-borer-only($scp-danger);
}

.btn-border-only-success {
  @include button-borer-only($scp-danger);
}
