input {
  &[type='text'],
  &[type='email'],
  &[type='password'] {
    background-clip: padding-box;
    background-color: $scp-gray;
    border: 1px solid $scp-gray;
    border-radius: .25rem;
    color: rgba($scp-gray-darker, 30%);
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;

    &:focus {
      border: solid 1px $scp-b-blue;
    }
  }
}

.input-group {
  margin-bottom: 1rem;
}

.required {
  label {
    &::after {
      color: $scp-danger;
      content: '*';
      display: inline-block;
      height: 10px;
      margin-left: 5px;
      width: 10px;
    }
  }
}

.form {
  background-color: $scp-white;
  flex: 1;
  padding: 3rem;
  width: 100%;
}

.form-container {
  &.form-auth {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    @include breakpoint(md) {
      flex-direction: row;
      height: 600px;
      margin: 0 auto;
      transform: translateY(10%);
      width: 90%;
    }
    @include breakpoint(xl) {
      max-width: 960px;
      width: 60%;
    }
  }
}
