.register-background {
  background-size: cover;
  flex: 1;
  height: 100%;

  >div {
    margin: 0 auto;
    width: 35%;
  }

  h1 {
    color: $scp-white;
    margin-top: 65px;
    text-align: center;
  }
}
